*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.loading{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading > img{
    width: 40%;
}

.loading > .box{
    position: fixed;
    height: 1%;
    width: 0%;
    background-color: rgb(212, 149, 30);
    bottom: 3%;
    align-self: flex-start;
    animation: load 3s 1 0s ease-in-out forwards;
}

@keyframes load {
    100%{
        width: 100%;
    } 
}